<div class="page-container" fxLayout="column" fxLayoutAlign="start center">
  <h1 class="page-title">My City Finder</h1>

  <div class="search-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
    <mat-form-field class="example-full-width search-field" fxFlex.gt-sm="50%" fxFlex.lt-md="100%">
      <mat-label>Select Country Code</mat-label>
      <select matNativeControl [formControl]="countryCodeControl">
        <option *ngFor="let code of countryCodes" [value]="code">{{ code }}</option>
      </select>
    </mat-form-field>
    
    <mat-form-field class="example-full-width search-field" fxFlex.gt-sm="50%" fxFlex.lt-md="100%">
      <input
        type="text"
        placeholder="Search from here ... "
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.name }} - {{ option.country_code }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
       
    <!-- <button mat-raised-button (click)="search()" class="search-button" fxFlex.gt-sm="50%" fxHide fxShow.lt-md>Search</button> -->
  </div>

  <div class="results-map-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
    <div *ngIf="results" class="results-container" fxFlex="50%">
      <mat-card class="results-card">
        <mat-card-header>
          <mat-card-title>Search Results</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let property of results | keyvalue" class="result-item">
              <strong>{{ property.key }}:</strong> {{ property.value }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div id="map" class="map-container" fxFlex="50%"></div>
  </div>
</div>
